*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Montserrat', sans-serif;
}

/* ========================= */
/* FONDO GENERAL */
/* ========================= */

body{
    background:
        linear-gradient(rgb(120, 37, 180), rgba(160, 47, 240, 0.75)),
        url("imagenes/king1.jpeg");
    background-size: contain;
    background-position:center;
    background-attachment:fixed;
    color:#ffffff;
    overflow-x:hidden;
    color: #FFD700;

}


.header-buttons{
    margin-top:20px;
}
/* ========================= */
/* HERO */
/* ========================= */

.hero{
    position:relative;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow:hidden;
}

.video-fondo{
    position:absolute;
    width:100%;
    height:100%;
    object-fit:cover;
    filter:brightness(1.4) contrast(1.2);
    z-index:0;
}

.hero::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background:linear-gradient(180deg, rgba(0,0,0,0.8), rgba(106,13,173,0.6));
    z-index:1;
}

.contenido-header{
    position:relative;
    z-index:4;
    padding:20px;
}



/* ========================= */
/* TITULO PRINCIPAL */
/* ========================= */

.titulo{
    padding:80px 0 30px 0;
    text-align:center;

}



.titulo h1{
    font-size:550%;
    font-weight:900;
    letter-spacing:5px;
    text-transform:uppercase;
    color:#c77dff;
    text-shadow:
        0 0 10px #c77dff,
        0 0 20px #9d4edd,
        0 0 40px rgba(157,78,221,0.7);
        padding: 2%;
}

.titulo p{
    font-size:28px;
    margin-top:20px;
    font-weight:300;
    letter-spacing:2px;
    opacity:0.9;
}

/* ========================= */
/* TITULOS SECCI칍N */
/* ========================= */

.titulos{
    font-size:40px;
    text-align:center;
    margin-bottom:10px;
    font-weight:800;
   color: #D4AF37;
text-shadow: 0 0 5px #FFD700;
    text-transform:uppercase;
    letter-spacing:3px;
}

/* ========================= */
/* BOTONES */
/* ========================= */

.btn{
    background:#9d4edd;
    color:white;
    padding:15px 35px;
    border-radius:50px;
    text-decoration:none;
    font-weight:700;
    letter-spacing:1px;
    transition:0.3s;
    display:inline-block;
    margin:10px;
    box-shadow:0 0 20px rgba(157,78,221,0.6);
}

.btn:hover{
    background:#c77dff;
    transform:translateY(-5px);
    box-shadow:0 0 30px rgba(199,125,255,0.9);
}

.insta{
    background:transparent;
    border:2px solid #c77dff;
}

.insta:hover{
    background:#c77dff;
    color:#0f0f0f;
}

/* ========================= */
/* SECCIONES */
/* ========================= */

section{
    padding:10px 10%;
}

/* ========================= */
/* CARDS */
/* ========================= */

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:40px;
}

.card{
    background:#1a1a1a;
    padding:40px 30px;
    border-radius:30px;
    width:300px;
    transition:0.4s;
    border:1px solid #2a2a2a;
    position:relative;
    overflow:hidden;
    
    margin: 1% 1%;
}

.card::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background:linear-gradient(120deg, transparent, rgba(199,125,255,0.2), transparent);
    transition:0.6s;
}

.card:hover::before{
    left:100%;
}

.card:hover{/*margen de selecci칩n*/
    transform:translateY(-12px);
    border:3px solid #ffd900;
}

.card h3{
    margin-bottom:20px;
    color:#c77dff;
}

.card ul{
    list-style:none;
    margin-bottom:20px;
}

.card ul li{
    margin:8px 0;
    font-weight:300;
}

.precio{
    font-size:22px;
    font-weight:800;
    margin:20px 0;
}

.btn-card{
    background:#ae62e8;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    font-weight:700;
    cursor:pointer;
    transition:0.3s;
}

.btn-card:hover{
    background:#b773ef;
}

/* ========================= */
/* PREMIUM */
/* ========================= */

.premium{/*brillo de los paquetes p*/
    border:2px solid #c77dff;
    box-shadow:0 0 50px rgba(233, 193, 19, 0.7);
}

/* ========================= */
/* IM츼GENES */
/* ========================= */

.contenedor-imagenes{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

.contenedor-imagenes img{
    width:300px;
    border-radius:20px;
    transition:0.4s;
    filter:grayscale(40%);
}

.contenedor-imagenes img:hover{
    transform:scale(1.07);
    filter:grayscale(0%);
}

/* ========================= */
/* FOOTER */
/* ========================= */

footer{
    text-align:center;
    padding:50px 20px;
    background:#000000;
    border-top:1px solid #2a2a2a;
}


/* ========================= */
/* 游꿘 CARRUSEL RESPONSIVE */
/* ========================= */

.carrusel{
    width:90%;
    max-width:400px;   /* 游댠 M치s peque침o en computadora */
    margin:40px auto;
    overflow:hidden;
    border-radius:20px;
}

.slides{
    display:flex;
    transition:transform 0.5s ease;
}

.slides img,
.slides video{
    width:100%;
    height:auto;
    flex-shrink:0;
    border-radius:20px;
}


/* ========================= */
/* FLECHAS LATERALES CARRUSEL */
/* ========================= */

.carrusel{
    position:relative; /* 游댠 importante */
}

.flecha{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(74, 5, 131, 0.8);
    color:white;
    border:none;
    font-size:28px;
    width:50px;
    height:50px;
    border-radius:50%;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:0.3s;
    z-index:10;
}

.flecha:hover{
    background:#c77dff;
    transform:translateY(-50%) scale(1.1);
}

.izquierda{
    left:10px;
}

.derecha{
    right:10px;
}

/* ========================= */
/* ACORDE칍N PAQUETES */
/* ========================= */

.acordeon-titulo{
    width:100%;
    background:linear-gradient(45deg,#a855f7,#c084fc);
    color:white;
    border:none;
    padding:18px;
    font-size:16px;
    font-weight:bold;
    border-radius:15px;
    cursor:pointer;
    transition:0.3s;
    text-align:left;
}

.acordeon-titulo:hover{
    transform:scale(1.02);
}

.contenido-paquete{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:max-height 0.6s ease, opacity 0.4s ease;
}

.contenido-paquete.activo{
    max-height:2000px;
    opacity:1;
    margin-top:20px;
}

/* ========================= */
/* 游댠 ARREGLO PARA QUE NO SE ESTIREN LOS OTROS */
/* ========================= */

.cards{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    justify-content:center;
    align-items:flex-start; /* ESTA ES LA CLAVE */
}

.card{
    width:300px;
    align-self:flex-start;
}



/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media(max-width:768px){

    .hero{
        height:75vh;
    }

    .titulo h1{
        font-size:45px;
        letter-spacing:2px;
    }

    .titulo p{
        font-size:18px;
    }

    .titulos{
        font-size:26px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }

    .card{
        width:95%;
    }

    .btn{
        width:90%;
        text-align:center;
    }

}



/* ========================= */
/* ACORDE칍N GENERAL SECCI칍N */
/* ========================= */

.contenido-seccion{
    max-height:0;
    overflow:hidden;
    opacity:0;
    transition:max-height 0.7s ease, opacity 0.4s ease;
}

.contenido-seccion.mostrar{
    max-height:5000px;
    opacity:1;
    margin-top:30px;
}

.titulo-click{
    cursor:pointer;
    transition:0.3s;
}

.titulo-click:hover{/*cursor cerca de titulos*/
    transform:scale(1.03);
    color:#80029f;
}


/* ================= VISTAS TIPO APP ================= */

.vista{
    display:none;
    padding:80px 10%;
    /*min-height:100vh;*/
    text-align:center;
    animation:fade 0.5s ease;
}

.vista.activa{
    display:block;
}

@keyframes fade{
    from{opacity:0; transform:translateY(20px);}
    to{opacity:1; transform:translateY(0);}
}

/* BOTONES MENU */

.logo{
    font-size:500%;
    margin-bottom:40px;
    color:#FFD700;
    font-family: cursive;
}

.menu-principal{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    justify-content:center;
}

.btn-menu{
    background:#9d4edd;
    border:none;
    padding:15px 35px;
    border-radius:40px;
    color:white;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn-menu:hover{
    background:#c77dff;
    transform:scale(1.1);
}

/* BOTON REGRESAR */

.btn-regresar{
    margin-top:40px;
    background:#d96afe;
    border:none;
    padding:12px 30px;
    border-radius:40px;
    color:#5e048f;
    cursor:pointer;
    transition:0.3s;
}

.btn-regresar:hover{
    background:#f3d701;
}




/*BOT칍N M칔SICA*/

.reproductor{
    width:320px;
    background:linear-gradient(45deg,#7b2ff7,#b5179e);
    padding:15px;
    border-radius:20px;
    color:white;
    text-align:center;
    margin:30px auto;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
}

.info-cancion{
    font-weight:bold;
    margin-bottom:10px;
    font-size:14px;
}

.controles{
    display:flex;
    justify-content:center;
    gap:15px;
}

.controles button{
    background:rgb(249, 248, 248);
    color:#7b2ff7;
    border:none;
    width:40px;
    height:40px;
    border-radius:50%;
    font-size:16px;
    cursor:pointer;
    transition:0.3s;
}

.controles button:hover{
    transform:scale(1.1);
}

/*=========================================*/


/* CONTENEDOR DEL LOGO */
/* CONTENEDOR */
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

/* LOGO REDONDO */
.logo-kings{
    width: 350px;
    max-width: 80%;
    aspect-ratio: 1/1; /* Mantiene proporci칩n perfecta */
    object-fit: cover;

    border-radius: 500%; /* 游댠 totalmente circular */
   

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);

    /* Glow dorado elegante */
    box-shadow:
        0 15px 35px rgba(0,0,0,0.5),
        0 0 25px #D4AF37,
        0 0 50px rgba(212,175,55,0.5);

    transition: all 0.4s ease;
}

/* EFECTO HOVER SUAVE */
.logo-kings:hover{
    transform: scale(1.07);
    box-shadow:
        0 20px 45px rgba(0,0,0,0.6),
        0 0 35px #FFD700,
        0 0 70px rgba(255,215,0,0.7);
}


/*============================================*/

.card-link{
    text-decoration: none;
    color: inherit;  /* 游댠 hereda el color original */
}

.card-link:visited{
    color: inherit;  /* evita que se ponga morado */
}

.card-link .card{
    cursor: pointer;
}
